.deps
.libs
Makefile
Makefile.in
T2_spectest
afp_ls
afparg
afpclient
encoding_test
fail_spectest
loadtest
logintest
postmark
rotest
spectest
speedtest
lantest
*.o
*.lo
*.la
spectest.log
spectest.conf
